<h1><%= @cat.name%></h1>
<table>
  <tr>
    <th>ATTRIBUTE</th>
    <th>VALUE</th>
  </tr>

  <tr>
    <td>AGE</td>
    <td><%= @cat.age%></td>
  </tr>

  <tr>
    <td>BIRTH_DATE</td>
    <td><%= @cat.birth_date%></td>
  </tr>

  <tr>
    <td>COLOR</td>
    <td><%= @cat.color%></td>
  </tr>
  
  <tr>
    <td>SEX</td>
    <td><%= @cat.sex%></td>
  </tr>
</table>
