<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <%= current_user.user_name if logged_in? %>
    <% if logged_in? %>
      <%= button_to :logout, session_url, method: "delete" %>
    <% else %>
      <%= link_to :login, new_session_url %>
      <%= link_to "sign-up", new_user_url %>
    <% end %>
  </header>

  <%= yield %>

</body>
</html>
